# Import libraries needed for the project

In [4]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [5]:
path = 'desktop\SAMPLE_DATASETS\Full_Airbnb_'
path

'desktop\\SAMPLE_DATASETS\\Full_Airbnb_'

# Import Dataframes for European Cities

In [6]:
Amsterdam = pd.read_csv(path + "Amsterdam.csv")
Amsterdam.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8386 entries, 0 to 8385
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            8386 non-null   int64
 1   listing_url                                   8386 non-null   object
 2   scrape_id                                     8386 non-null   int64
 3   last_scraped                                  8386 non-null   object
 4   source                                        8386 non-null   object
 5   name                                          8386 non-null   object
 6   description                                   8385 non-null   object
 7   neighborhood_overview                         5208 non-null   object
 8   picture_url                                   8385 non-null   object
 9   host_id                                       8386 non-null   int64
 10  host_url                                      8386 non-null   object
 11  host_name                                     8386 non-null   object
 12  host_since                                    8386 non-null   object
 13  host_location                                 7462 non-null   object
 14  host_about                                    4647 non-null   object
 15  host_response_time                            6108 non-null   object
 16  host_response_rate                            6108 non-null   object
 17  host_acceptance_rate                          7160 non-null   object
 18  host_is_superhost                             8316 non-null   object
 19  host_thumbnail_url                            8386 non-null   object
 20  host_picture_url                              8386 non-null   object
 21  host_neighbourhood                            3044 non-null   object
 22  host_listings_count                           8386 non-null   int64
 23  host_total_listings_count                     8386 non-null   int64
 24  host_verifications                            8386 non-null   object
 25  host_has_profile_pic                          8386 non-null   object
 26  host_identity_verified                        8386 non-null   object
 27  neighbourhood                                 5208 non-null   object
 28  neighbourhood_cleansed                        8386 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      8386 non-null   float64
 31  longitude                                     8386 non-null   float64
 32  property_type                                 8386 non-null   object
 33  room_type                                     8386 non-null   object
 34  accommodates                                  8386 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                8379 non-null   object
 37  bedrooms                                      6958 non-null   float64
 38  beds                                          8313 non-null   float64
 39  amenities                                     8386 non-null   object
 40  price                                         8386 non-null   object
 41  minimum_nights                                8386 non-null   int64
 42  maximum_nights                                8386 non-null   int64
 43  minimum_minimum_nights                        8386 non-null   int64
 44  maximum_minimum_nights                        8386 non-null   int64
 45  minimum_maximum_nights                        8386 non-null   int64
 46  maximum_maximum_nights                        8386 non-null   int64
 47  minimum_nights_avg_ntm                        8386 non-null   float64
 48  maximum_nights_avg_ntm                        8386 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              8386 non-null   object
 51  availability_30                               8386 non-null   int64
 52  availability_60                               8386 non-null   int64
 53  availability_90                               8386 non-null   int64
 54  availability_365                              8386 non-null   int64
 55  calendar_last_scraped                         8386 non-null   object
 56  number_of_reviews                             8386 non-null   int64
 57  number_of_reviews_ltm                         8386 non-null   int64
 58  number_of_reviews_l30d                        8386 non-null   int64
 59  first_review                                  7556 non-null   object
 60  last_review                                   7556 non-null   object
 61  review_scores_rating                          7556 non-null   float64
 62  review_scores_accuracy                        7552 non-null   float64
 63  review_scores_cleanliness                     7552 non-null   float64
 64  review_scores_checkin                         7552 non-null   float64
 65  review_scores_communication                   7552 non-null   float64
 66  review_scores_location                        7552 non-null   float64
 67  review_scores_value                           7552 non-null   float64
 68  license                                       8368 non-null   object
 69  instant_bookable                              8386 non-null   object
 70  calculated_host_listings_count                8386 non-null   int64
 71  calculated_host_listings_count_entire_homes   8386 non-null   int64
 72  calculated_host_listings_count_private_rooms  8386 non-null   int64
 73  calculated_host_listings_count_shared_rooms   8386 non-null   int64
 74  reviews_per_month                             7556 non-null   float64
dtypes: float64(17), int64(23), object(35)
memory usage: 4.8+ MB

In [7]:
London = pd.read_csv(path + 'London.csv')
London.info()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3763404040.py:1: DtypeWarning: Columns (68) have mixed types. Specify dtype option on import or set low_memory=False.
  London = pd.read_csv(path + 'London.csv')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 87946 entries, 0 to 87945
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            87946 non-null  int64
 1   listing_url                                   87946 non-null  object
 2   scrape_id                                     87946 non-null  int64
 3   last_scraped                                  87946 non-null  object
 4   source                                        87946 non-null  object
 5   name                                          87946 non-null  object
 6   description                                   86679 non-null  object
 7   neighborhood_overview                         47190 non-null  object
 8   picture_url                                   87943 non-null  object
 9   host_id                                       87946 non-null  int64
 10  host_url                                      87946 non-null  object
 11  host_name                                     87941 non-null  object
 12  host_since                                    87941 non-null  object
 13  host_location                                 69168 non-null  object
 14  host_about                                    45906 non-null  object
 15  host_response_time                            59028 non-null  object
 16  host_response_rate                            59028 non-null  object
 17  host_acceptance_rate                          62758 non-null  object
 18  host_is_superhost                             87014 non-null  object
 19  host_thumbnail_url                            87941 non-null  object
 20  host_picture_url                              87941 non-null  object
 21  host_neighbourhood                            48079 non-null  object
 22  host_listings_count                           87941 non-null  float64
 23  host_total_listings_count                     87941 non-null  float64
 24  host_verifications                            87946 non-null  object
 25  host_has_profile_pic                          87941 non-null  object
 26  host_identity_verified                        87941 non-null  object
 27  neighbourhood                                 47191 non-null  object
 28  neighbourhood_cleansed                        87946 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      87946 non-null  float64
 31  longitude                                     87946 non-null  float64
 32  property_type                                 87946 non-null  object
 33  room_type                                     87946 non-null  object
 34  accommodates                                  87946 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                87843 non-null  object
 37  bedrooms                                      55172 non-null  float64
 38  beds                                          86812 non-null  float64
 39  amenities                                     87946 non-null  object
 40  price                                         87946 non-null  object
 41  minimum_nights                                87946 non-null  int64
 42  maximum_nights                                87946 non-null  int64
 43  minimum_minimum_nights                        87945 non-null  float64
 44  maximum_minimum_nights                        87945 non-null  float64
 45  minimum_maximum_nights                        87945 non-null  float64
 46  maximum_maximum_nights                        87945 non-null  float64
 47  minimum_nights_avg_ntm                        87945 non-null  float64
 48  maximum_nights_avg_ntm                        87945 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              87946 non-null  object
 51  availability_30                               87946 non-null  int64
 52  availability_60                               87946 non-null  int64
 53  availability_90                               87946 non-null  int64
 54  availability_365                              87946 non-null  int64
 55  calendar_last_scraped                         87946 non-null  object
 56  number_of_reviews                             87946 non-null  int64
 57  number_of_reviews_ltm                         87946 non-null  int64
 58  number_of_reviews_l30d                        87946 non-null  int64
 59  first_review                                  65788 non-null  object
 60  last_review                                   65788 non-null  object
 61  review_scores_rating                          65788 non-null  float64
 62  review_scores_accuracy                        64853 non-null  float64
 63  review_scores_cleanliness                     64865 non-null  float64
 64  review_scores_checkin                         64821 non-null  float64
 65  review_scores_communication                   64851 non-null  float64
 66  review_scores_location                        64821 non-null  float64
 67  review_scores_value                           64820 non-null  float64
 68  license                                       1 non-null      object
 69  instant_bookable                              87946 non-null  object
 70  calculated_host_listings_count                87946 non-null  int64
 71  calculated_host_listings_count_entire_homes   87946 non-null  int64
 72  calculated_host_listings_count_private_rooms  87946 non-null  int64
 73  calculated_host_listings_count_shared_rooms   87946 non-null  int64
 74  reviews_per_month                             65788 non-null  float64
dtypes: float64(23), int64(17), object(35)
memory usage: 50.3+ MB

In [8]:
London.head(2)

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,92644,https://www.airbnb.com/rooms/92644,20230906022807,2023-09-06,city scrape,Rental unit in Earlsfield · ★4.57 · 1 bedroom ...,<b>The space</b><br />Hi everyone! I have 2 ro...,NaN,https://a0.muscache.com/pictures/715127/85bdb4...,498201,...,4.67,4.53,4.68,NaN,t,1,0,1,0,1.45
1,93015,https://www.airbnb.com/rooms/93015,20230906022807,2023-09-06,city scrape,Rental unit in Hammersmith · ★4.82 · 2 bedroom...,Gorgeous 2 bed ground floor apartment with per...,A bit of history about the W14 area: <br />Com...,https://a0.muscache.com/pictures/865937ec-ee56...,499704,...,4.88,4.85,4.74,NaN,f,1,1,0,0,0.27

In [9]:
Paris = pd.read_csv(path + 'Paris.csv')
Paris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67942 entries, 0 to 67941
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            67942 non-null  int64
 1   listing_url                                   67942 non-null  object
 2   scrape_id                                     67942 non-null  int64
 3   last_scraped                                  67942 non-null  object
 4   source                                        67942 non-null  object
 5   name                                          67942 non-null  object
 6   description                                   67416 non-null  object
 7   neighborhood_overview                         38031 non-null  object
 8   picture_url                                   67942 non-null  object
 9   host_id                                       67942 non-null  int64
 10  host_url                                      67942 non-null  object
 11  host_name                                     67935 non-null  object
 12  host_since                                    67935 non-null  object
 13  host_location                                 55139 non-null  object
 14  host_about                                    30792 non-null  object
 15  host_response_time                            42044 non-null  object
 16  host_response_rate                            42044 non-null  object
 17  host_acceptance_rate                          45676 non-null  object
 18  host_is_superhost                             66968 non-null  object
 19  host_thumbnail_url                            67935 non-null  object
 20  host_picture_url                              67935 non-null  object
 21  host_neighbourhood                            33638 non-null  object
 22  host_listings_count                           67935 non-null  float64
 23  host_total_listings_count                     67935 non-null  float64
 24  host_verifications                            67942 non-null  object
 25  host_has_profile_pic                          67935 non-null  object
 26  host_identity_verified                        67935 non-null  object
 27  neighbourhood                                 38031 non-null  object
 28  neighbourhood_cleansed                        67942 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      67942 non-null  float64
 31  longitude                                     67942 non-null  float64
 32  property_type                                 67942 non-null  object
 33  room_type                                     67942 non-null  object
 34  accommodates                                  67942 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                67859 non-null  object
 37  bedrooms                                      52322 non-null  float64
 38  beds                                          67242 non-null  float64
 39  amenities                                     67942 non-null  object
 40  price                                         67942 non-null  object
 41  minimum_nights                                67942 non-null  int64
 42  maximum_nights                                67942 non-null  int64
 43  minimum_minimum_nights                        67942 non-null  int64
 44  maximum_minimum_nights                        67942 non-null  int64
 45  minimum_maximum_nights                        67942 non-null  int64
 46  maximum_maximum_nights                        67942 non-null  int64
 47  minimum_nights_avg_ntm                        67942 non-null  float64
 48  maximum_nights_avg_ntm                        67942 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              67942 non-null  object
 51  availability_30                               67942 non-null  int64
 52  availability_60                               67942 non-null  int64
 53  availability_90                               67942 non-null  int64
 54  availability_365                              67942 non-null  int64
 55  calendar_last_scraped                         67942 non-null  object
 56  number_of_reviews                             67942 non-null  int64
 57  number_of_reviews_ltm                         67942 non-null  int64
 58  number_of_reviews_l30d                        67942 non-null  int64
 59  first_review                                  53185 non-null  object
 60  last_review                                   53185 non-null  object
 61  review_scores_rating                          53185 non-null  float64
 62  review_scores_accuracy                        52685 non-null  float64
 63  review_scores_cleanliness                     52687 non-null  float64
 64  review_scores_checkin                         52675 non-null  float64
 65  review_scores_communication                   52685 non-null  float64
 66  review_scores_location                        52675 non-null  float64
 67  review_scores_value                           52672 non-null  float64
 68  license                                       49372 non-null  object
 69  instant_bookable                              67942 non-null  object
 70  calculated_host_listings_count                67942 non-null  int64
 71  calculated_host_listings_count_entire_homes   67942 non-null  int64
 72  calculated_host_listings_count_private_rooms  67942 non-null  int64
 73  calculated_host_listings_count_shared_rooms   67942 non-null  int64
 74  reviews_per_month                             53185 non-null  float64
dtypes: float64(19), int64(21), object(35)
memory usage: 38.9+ MB

In [11]:
Rome = pd.read_csv(path + "Rome.csv")
Rome.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28014 entries, 0 to 28013
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            28014 non-null  int64
 1   listing_url                                   28014 non-null  object
 2   scrape_id                                     28014 non-null  int64
 3   last_scraped                                  28014 non-null  object
 4   source                                        28014 non-null  object
 5   name                                          28014 non-null  object
 6   description                                   27511 non-null  object
 7   neighborhood_overview                         16994 non-null  object
 8   picture_url                                   28014 non-null  object
 9   host_id                                       28014 non-null  int64
 10  host_url                                      28014 non-null  object
 11  host_name                                     28014 non-null  object
 12  host_since                                    28014 non-null  object
 13  host_location                                 21921 non-null  object
 14  host_about                                    14606 non-null  object
 15  host_response_time                            24377 non-null  object
 16  host_response_rate                            24377 non-null  object
 17  host_acceptance_rate                          25519 non-null  object
 18  host_is_superhost                             27122 non-null  object
 19  host_thumbnail_url                            28014 non-null  object
 20  host_picture_url                              28014 non-null  object
 21  host_neighbourhood                            14038 non-null  object
 22  host_listings_count                           28014 non-null  int64
 23  host_total_listings_count                     28014 non-null  int64
 24  host_verifications                            28014 non-null  object
 25  host_has_profile_pic                          28014 non-null  object
 26  host_identity_verified                        28014 non-null  object
 27  neighbourhood                                 16994 non-null  object
 28  neighbourhood_cleansed                        28014 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      28014 non-null  float64
 31  longitude                                     28014 non-null  float64
 32  property_type                                 28014 non-null  object
 33  room_type                                     28014 non-null  object
 34  accommodates                                  28014 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                27975 non-null  object
 37  bedrooms                                      21294 non-null  float64
 38  beds                                          27726 non-null  float64
 39  amenities                                     28014 non-null  object
 40  price                                         28014 non-null  object
 41  minimum_nights                                28014 non-null  int64
 42  maximum_nights                                28014 non-null  int64
 43  minimum_minimum_nights                        28014 non-null  int64
 44  maximum_minimum_nights                        28014 non-null  int64
 45  minimum_maximum_nights                        28014 non-null  int64
 46  maximum_maximum_nights                        28014 non-null  int64
 47  minimum_nights_avg_ntm                        28014 non-null  float64
 48  maximum_nights_avg_ntm                        28014 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              28014 non-null  object
 51  availability_30                               28014 non-null  int64
 52  availability_60                               28014 non-null  int64
 53  availability_90                               28014 non-null  int64
 54  availability_365                              28014 non-null  int64
 55  calendar_last_scraped                         28014 non-null  object
 56  number_of_reviews                             28014 non-null  int64
 57  number_of_reviews_ltm                         28014 non-null  int64
 58  number_of_reviews_l30d                        28014 non-null  int64
 59  first_review                                  24105 non-null  object
 60  last_review                                   24105 non-null  object
 61  review_scores_rating                          24105 non-null  float64
 62  review_scores_accuracy                        24019 non-null  float64
 63  review_scores_cleanliness                     24018 non-null  float64
 64  review_scores_checkin                         24019 non-null  float64
 65  review_scores_communication                   24020 non-null  float64
 66  review_scores_location                        24016 non-null  float64
 67  review_scores_value                           24017 non-null  float64
 68  license                                       5219 non-null   object
 69  instant_bookable                              28014 non-null  object
 70  calculated_host_listings_count                28014 non-null  int64
 71  calculated_host_listings_count_entire_homes   28014 non-null  int64
 72  calculated_host_listings_count_private_rooms  28014 non-null  int64
 73  calculated_host_listings_count_shared_rooms   28014 non-null  int64
 74  reviews_per_month                             24105 non-null  float64
dtypes: float64(17), int64(23), object(35)
memory usage: 16.0+ MB

# Concatenate the European Dataframes

In [12]:
Europe = pd.concat([Amsterdam, London, Paris, Rome], axis = 0)
Europe.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,761411,https://www.airbnb.com/rooms/761411,20230903194145,2023-09-03,city scrape,Condo in Amsterdam · ★4.74 · 1 bedroom · 1 bed...,"Really quiet, spacious and safe, a nice place ...","The neighborhood is very green, quiet, safe an...",https://a0.muscache.com/pictures/10591508/bf30...,4013546,...,4.92,4.42,4.65,0363 D4AD DCF3 E72A 56A2,t,2,0,2,0,2.30
1,768274,https://www.airbnb.com/rooms/768274,20230903194145,2023-09-04,city scrape,Rental unit in Amsterdam · ★4.83 · 1 bedroom ·...,Our cool and spacious loft is perfect for a st...,Our neighbourhood is ons of the most beautiful...,https://a0.muscache.com/pictures/27206847/31f5...,3678216,...,4.94,4.86,4.77,0363 7A50 18E7 51D1 B7F9,t,1,1,0,0,0.64
2,768737,https://www.airbnb.com/rooms/768737,20230903194145,2023-09-03,city scrape,Boat in Amsterdam · ★4.82 · 1 bedroom · 1 bed ...,Room to rent in my houseboat. The room has a p...,It is just outside the Jordan in between the c...,https://a0.muscache.com/pictures/1df40445-354f...,3877342,...,4.87,4.72,4.68,036396BE30827DDB9575,t,3,1,2,0,2.73
3,771217,https://www.airbnb.com/rooms/771217,20230903194145,2023-09-04,previous scrape,Houseboat in Amsterdam · ★5.0 · 3 bedrooms · 3...,"Spacious houseboat in Amsterdam, suitable for ...",The houseboat lies in an area with ± 200 house...,https://a0.muscache.com/pictures/57715927/0808...,4068486,...,5.00,4.67,4.56,0363 D807 AD6C 499A F871,f,1,1,0,0,0.11
4,771343,https://www.airbnb.com/rooms/771343,20230903194145,2023-09-03,city scrape,Rental unit in Amsterdam · ★4.89 · 1 bedroom ·...,Royal Bed & Coffee Room with a very comfortabl...,The building is located in Amsterdam centre in...,https://a0.muscache.com/pictures/ea22d262-7456...,2313061,...,4.91,4.96,4.79,0363 8C61 E9B9 5582 913E,f,2,0,2,0,6.62

In [13]:
Europe.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192288 entries, 0 to 28013
Data columns (total 75 columns):
 #   Column                                        Non-Null Count   Dtype
---  ------                                        --------------   -----
 0   id                                            192288 non-null  int64
 1   listing_url                                   192288 non-null  object
 2   scrape_id                                     192288 non-null  int64
 3   last_scraped                                  192288 non-null  object
 4   source                                        192288 non-null  object
 5   name                                          192288 non-null  object
 6   description                                   189991 non-null  object
 7   neighborhood_overview                         107423 non-null  object
 8   picture_url                                   192284 non-null  object
 9   host_id                                       192288 non-null  int64
 10  host_url                                      192288 non-null  object
 11  host_name                                     192276 non-null  object
 12  host_since                                    192276 non-null  object
 13  host_location                                 153690 non-null  object
 14  host_about                                    95951 non-null   object
 15  host_response_time                            131557 non-null  object
 16  host_response_rate                            131557 non-null  object
 17  host_acceptance_rate                          141113 non-null  object
 18  host_is_superhost                             189420 non-null  object
 19  host_thumbnail_url                            192276 non-null  object
 20  host_picture_url                              192276 non-null  object
 21  host_neighbourhood                            98799 non-null   object
 22  host_listings_count                           192276 non-null  float64
 23  host_total_listings_count                     192276 non-null  float64
 24  host_verifications                            192288 non-null  object
 25  host_has_profile_pic                          192276 non-null  object
 26  host_identity_verified                        192276 non-null  object
 27  neighbourhood                                 107424 non-null  object
 28  neighbourhood_cleansed                        192288 non-null  object
 29  neighbourhood_group_cleansed                  0 non-null       float64
 30  latitude                                      192288 non-null  float64
 31  longitude                                     192288 non-null  float64
 32  property_type                                 192288 non-null  object
 33  room_type                                     192288 non-null  object
 34  accommodates                                  192288 non-null  int64
 35  bathrooms                                     0 non-null       float64
 36  bathrooms_text                                192056 non-null  object
 37  bedrooms                                      135746 non-null  float64
 38  beds                                          190093 non-null  float64
 39  amenities                                     192288 non-null  object
 40  price                                         192288 non-null  object
 41  minimum_nights                                192288 non-null  int64
 42  maximum_nights                                192288 non-null  int64
 43  minimum_minimum_nights                        192287 non-null  float64
 44  maximum_minimum_nights                        192287 non-null  float64
 45  minimum_maximum_nights                        192287 non-null  float64
 46  maximum_maximum_nights                        192287 non-null  float64
 47  minimum_nights_avg_ntm                        192287 non-null  float64
 48  maximum_nights_avg_ntm                        192287 non-null  float64
 49  calendar_updated                              0 non-null       float64
 50  has_availability                              192288 non-null  object
 51  availability_30                               192288 non-null  int64
 52  availability_60                               192288 non-null  int64
 53  availability_90                               192288 non-null  int64
 54  availability_365                              192288 non-null  int64
 55  calendar_last_scraped                         192288 non-null  object
 56  number_of_reviews                             192288 non-null  int64
 57  number_of_reviews_ltm                         192288 non-null  int64
 58  number_of_reviews_l30d                        192288 non-null  int64
 59  first_review                                  150634 non-null  object
 60  last_review                                   150634 non-null  object
 61  review_scores_rating                          150634 non-null  float64
 62  review_scores_accuracy                        149109 non-null  float64
 63  review_scores_cleanliness                     149122 non-null  float64
 64  review_scores_checkin                         149067 non-null  float64
 65  review_scores_communication                   149108 non-null  float64
 66  review_scores_location                        149064 non-null  float64
 67  review_scores_value                           149061 non-null  float64
 68  license                                       62960 non-null   object
 69  instant_bookable                              192288 non-null  object
 70  calculated_host_listings_count                192288 non-null  int64
 71  calculated_host_listings_count_entire_homes   192288 non-null  int64
 72  calculated_host_listings_count_private_rooms  192288 non-null  int64
 73  calculated_host_listings_count_shared_rooms   192288 non-null  int64
 74  reviews_per_month                             150634 non-null  float64
dtypes: float64(23), int64(17), object(35)
memory usage: 111.5+ MB

# Commence to dropping features that will not be used.

In [14]:
Europe_trim = Europe.drop(Europe.iloc[:, 0:30], axis = 1)

In [16]:
Europe_trim.drop(Europe_trim.iloc[:, 11:], axis = 1, inplace = True)
Europe_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192288 entries, 0 to 28013
Data columns (total 11 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        192288 non-null  float64
 1   longitude       192288 non-null  float64
 2   property_type   192288 non-null  object
 3   room_type       192288 non-null  object
 4   accommodates    192288 non-null  int64
 5   bathrooms       0 non-null       float64
 6   bathrooms_text  192056 non-null  object
 7   bedrooms        135746 non-null  float64
 8   beds            190093 non-null  float64
 9   amenities       192288 non-null  object
 10  price           192288 non-null  object
dtypes: float64(5), int64(1), object(5)
memory usage: 17.6+ MB

In [17]:
Europe_trim.drop(Europe_trim.iloc[:, [5]], axis = 1, inplace = True)

In [18]:
Europe_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192288 entries, 0 to 28013
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        192288 non-null  float64
 1   longitude       192288 non-null  float64
 2   property_type   192288 non-null  object
 3   room_type       192288 non-null  object
 4   accommodates    192288 non-null  int64
 5   bathrooms_text  192056 non-null  object
 6   bedrooms        135746 non-null  float64
 7   beds            190093 non-null  float64
 8   amenities       192288 non-null  object
 9   price           192288 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 16.1+ MB

# Drop null values from 'bathrooms_text' and 'beds' since they amount to less than 3% of the data.

In [19]:
Europe_trim_drop_bath = Europe_trim.dropna(subset = ['bathrooms_text'])
Europe_trim_drop_bath.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192056 entries, 0 to 28013
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        192056 non-null  float64
 1   longitude       192056 non-null  float64
 2   property_type   192056 non-null  object
 3   room_type       192056 non-null  object
 4   accommodates    192056 non-null  int64
 5   bathrooms_text  192056 non-null  object
 6   bedrooms        135593 non-null  float64
 7   beds            189898 non-null  float64
 8   amenities       192056 non-null  object
 9   price           192056 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 16.1+ MB

In [20]:
Europe_trim_drop_bath_beds = Europe_trim_drop_bath.dropna(subset = ['beds'])
Europe_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189898 entries, 0 to 28013
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        189898 non-null  float64
 1   longitude       189898 non-null  float64
 2   property_type   189898 non-null  object
 3   room_type       189898 non-null  object
 4   accommodates    189898 non-null  int64
 5   bathrooms_text  189898 non-null  object
 6   bedrooms        134557 non-null  float64
 7   beds            189898 non-null  float64
 8   amenities       189898 non-null  object
 9   price           189898 non-null  object
dtypes: float64(4), int64(1), object(5)
memory usage: 15.9+ MB

# Check the 'bathrooms' Series to determine what data needs to be cleaned.

In [21]:
Europe_trim_drop_bath_beds.bathrooms_text.value_counts()

1 bath               108090
2 baths               19438
1 shared bath         16985
1 private bath        14921
1.5 baths             13910
1.5 shared baths       4112
2.5 baths              3854
3 baths                2851
2 shared baths         1544
3.5 baths               938
Half-bath               608
4 baths                 591
2.5 shared baths        419
0 baths                 260
3 shared baths          239
4.5 baths               209
5 baths                 203
0 shared baths          172
Shared half-bath        146
6 baths                  80
5.5 baths                53
3.5 shared baths         43
Private half-bath        42
7 baths                  26
6.5 baths                26
4 shared baths           19
4.5 shared baths         15
8 baths                  13
12 baths                 13
7.5 baths                13
5 shared baths           10
6 shared baths            6
9 baths                   6
5.5 shared baths          5
48 baths                  5
12.5 baths                4
10 baths                  4
23 baths                  3
17 baths                  3
49 baths                  2
9.5 baths                 2
16 baths                  2
8.5 baths                 2
10.5 baths                2
7 shared baths            2
16.5 baths                1
13 shared baths           1
13 baths                  1
22 baths                  1
8 shared baths            1
47 baths                  1
10 shared baths           1
Name: bathrooms_text, dtype: int64

# Remove wording in 'bathroom_text' and change the type to 'float'

In [22]:
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('baths', '')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('shared', '')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Private', '')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('private', '')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('bath', '')
Europe_trim_drop_bath_beds['bathrooms_text'].value_counts()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3042071078.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('baths', '')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3042071078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('shared', '')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3042071078.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Private', '')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3042071078.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('private', '')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3042071078.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('bath', '')

1               108090
1                31906
2                19438
1.5              13910
1.5               4112
2.5               3854
3                 2851
2                 1544
3.5                938
Half-              608
4                  591
2.5                419
0                  260
3                  239
4.5                209
5                  203
0                  172
Shared half-       146
6                   80
5.5                 53
3.5                 43
 half-              42
7                   26
6.5                 26
4                   19
4.5                 15
8                   13
12                  13
7.5                 13
5                   10
6                    6
9                    6
5.5                  5
48                   5
12.5                 4
10                   4
23                   3
17                   3
49                   2
9.5                  2
16                   2
8.5                  2
10.5                 2
7                    2
16.5                 1
13                   1
13                   1
22                   1
8                    1
47                   1
10                   1
Name: bathrooms_text, dtype: int64

In [23]:
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Half-', '.5')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('half-', '.5')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Shared half-', '.5')
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.strip(" ")
Europe_trim_drop_bath_beds['bathrooms_text'].value_counts()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\4237482617.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Half-', '.5')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\4237482617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('half-', '.5')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\4237482617.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Shared half-', '.5')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\4237482617.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.strip(" ")

1            139996
2             20982
1.5           18022
2.5            4273
3              3090
3.5             981
.5              650
4               610
0               432
4.5             224
5               213
Shared .5       146
6                86
5.5              58
7                28
6.5              26
8                14
12               13
7.5              13
9                 6
10                5
48                5
12.5              4
17                3
23                3
10.5              2
13                2
16                2
8.5               2
9.5               2
49                2
16.5              1
22                1
47                1
Name: bathrooms_text, dtype: int64

In [24]:
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Shared ', '')
Europe_trim_drop_bath_beds['bathrooms_text'].value_counts()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3470121884.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].str.replace('Shared ', '')

1       139996
2        20982
1.5      18022
2.5       4273
3         3090
3.5        981
.5         796
4          610
0          432
4.5        224
5          213
6           86
5.5         58
7           28
6.5         26
8           14
12          13
7.5         13
9            6
10           5
48           5
12.5         4
17           3
23           3
10.5         2
13           2
16           2
8.5          2
9.5          2
49           2
16.5         1
22           1
47           1
Name: bathrooms_text, dtype: int64

In [26]:
Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].astype(float)

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\3749854274.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bathrooms_text'] = Europe_trim_drop_bath_beds['bathrooms_text'].astype(float)

# Clean the 'price' column and change to 'float'

In [28]:
Europe_trim_drop_bath_beds['price'] = Europe_trim_drop_bath_beds['price'].str.replace('$', '')
Europe_trim_drop_bath_beds['price'] = Europe_trim_drop_bath_beds['price'].str.replace(',', '').astype(float)

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\1829238514.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  Europe_trim_drop_bath_beds['price'] = Europe_trim_drop_bath_beds['price'].str.replace('$', '')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\1829238514.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['price'] = Europe_trim_drop_bath_beds['price'].str.replace('$', '')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\1829238514.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['price'] = Europe_trim_drop_bath_beds['price'].str.replace(',', '').astype(float)

In [29]:
Europe_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189898 entries, 0 to 28013
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        189898 non-null  float64
 1   longitude       189898 non-null  float64
 2   property_type   189898 non-null  object
 3   room_type       189898 non-null  object
 4   accommodates    189898 non-null  int64
 5   bathrooms_text  189898 non-null  float64
 6   bedrooms        134557 non-null  float64
 7   beds            189898 non-null  float64
 8   amenities       189898 non-null  object
 9   price           189898 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 15.9+ MB

# Impute the null values in the 'bedrooms' column with the median number of bedrooms since there are too many nulls to drop.

In [30]:
Europe_trim_drop_bath_beds['bedrooms'] = Europe_trim_drop_bath_beds['bedrooms'].fillna(Europe_trim_drop_bath_beds['bedrooms'].median())
Europe_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189898 entries, 0 to 28013
Data columns (total 10 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        189898 non-null  float64
 1   longitude       189898 non-null  float64
 2   property_type   189898 non-null  object
 3   room_type       189898 non-null  object
 4   accommodates    189898 non-null  int64
 5   bathrooms_text  189898 non-null  float64
 6   bedrooms        189898 non-null  float64
 7   beds            189898 non-null  float64
 8   amenities       189898 non-null  object
 9   price           189898 non-null  float64
dtypes: float64(6), int64(1), object(3)
memory usage: 15.9+ MB

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\2765811505.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds['bedrooms'] = Europe_trim_drop_bath_beds['bedrooms'].fillna(Europe_trim_drop_bath_beds['bedrooms'].median())

# Prepare to drop remaining features that were created during investigation of the data.

In [66]:
Europe_trim_drop_bath_beds.drop(Europe_trim_drop_bath_beds.iloc[:, [8]], axis = 1, inplace = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189898 entries, 0 to 28013
Data columns (total 11 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   latitude             189898 non-null  float64
 1   longitude            189898 non-null  float64
 2   property_type        189898 non-null  object
 3   room_type            189898 non-null  object
 4   accommodates         189898 non-null  int64
 5   bathrooms_text       189898 non-null  float64
 6   bedrooms             189898 non-null  float64
 7   beds                 189898 non-null  float64
 8   price                189898 non-null  float64
 9   number of amenities  0 non-null       float64
 10  number_of_amenities  99226 non-null   float64
dtypes: float64(8), int64(1), object(2)
memory usage: 21.4+ MB

In [67]:
Europe_trim_drop_bath_beds.drop(Europe_trim_drop_bath_beds.iloc[:, 9:], axis = 1, inplace = True)
Europe_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 189898 entries, 0 to 28013
Data columns (total 9 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   latitude        189898 non-null  float64
 1   longitude       189898 non-null  float64
 2   property_type   189898 non-null  object
 3   room_type       189898 non-null  object
 4   accommodates    189898 non-null  int64
 5   bathrooms_text  189898 non-null  float64
 6   bedrooms        189898 non-null  float64
 7   beds            189898 non-null  float64
 8   price           189898 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 18.5+ MB

C:\Users\Rosco\AppData\Local\Temp\ipykernel_25020\1773686891.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  Europe_trim_drop_bath_beds.drop(Europe_trim_drop_bath_beds.iloc[:, 9:], axis = 1, inplace = True)

# Import Dataframes for U.S. cities

In [17]:
Dallas = pd.read_csv(path + "Dallas.csv")
Dallas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5627 entries, 0 to 5626
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5627 non-null   int64
 1   listing_url                                   5627 non-null   object
 2   scrape_id                                     5627 non-null   int64
 3   last_scraped                                  5627 non-null   object
 4   source                                        5627 non-null   object
 5   name                                          5627 non-null   object
 6   description                                   5582 non-null   object
 7   neighborhood_overview                         3325 non-null   object
 8   picture_url                                   5627 non-null   object
 9   host_id                                       5627 non-null   int64
 10  host_url                                      5627 non-null   object
 11  host_name                                     5627 non-null   object
 12  host_since                                    5627 non-null   object
 13  host_location                                 4286 non-null   object
 14  host_about                                    3080 non-null   object
 15  host_response_time                            5048 non-null   object
 16  host_response_rate                            5048 non-null   object
 17  host_acceptance_rate                          5204 non-null   object
 18  host_is_superhost                             5467 non-null   object
 19  host_thumbnail_url                            5627 non-null   object
 20  host_picture_url                              5627 non-null   object
 21  host_neighbourhood                            5148 non-null   object
 22  host_listings_count                           5627 non-null   int64
 23  host_total_listings_count                     5627 non-null   int64
 24  host_verifications                            5627 non-null   object
 25  host_has_profile_pic                          5627 non-null   object
 26  host_identity_verified                        5627 non-null   object
 27  neighbourhood                                 3325 non-null   object
 28  neighbourhood_cleansed                        5627 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      5627 non-null   float64
 31  longitude                                     5627 non-null   float64
 32  property_type                                 5627 non-null   object
 33  room_type                                     5627 non-null   object
 34  accommodates                                  5627 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                5626 non-null   object
 37  bedrooms                                      4783 non-null   float64
 38  beds                                          5579 non-null   float64
 39  amenities                                     5627 non-null   object
 40  price                                         5627 non-null   object
 41  minimum_nights                                5627 non-null   int64
 42  maximum_nights                                5627 non-null   int64
 43  minimum_minimum_nights                        5627 non-null   int64
 44  maximum_minimum_nights                        5627 non-null   int64
 45  minimum_maximum_nights                        5627 non-null   int64
 46  maximum_maximum_nights                        5627 non-null   int64
 47  minimum_nights_avg_ntm                        5627 non-null   float64
 48  maximum_nights_avg_ntm                        5627 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              5627 non-null   object
 51  availability_30                               5627 non-null   int64
 52  availability_60                               5627 non-null   int64
 53  availability_90                               5627 non-null   int64
 54  availability_365                              5627 non-null   int64
 55  calendar_last_scraped                         5627 non-null   object
 56  number_of_reviews                             5627 non-null   int64
 57  number_of_reviews_ltm                         5627 non-null   int64
 58  number_of_reviews_l30d                        5627 non-null   int64
 59  first_review                                  4664 non-null   object
 60  last_review                                   4664 non-null   object
 61  review_scores_rating                          4664 non-null   float64
 62  review_scores_accuracy                        4657 non-null   float64
 63  review_scores_cleanliness                     4656 non-null   float64
 64  review_scores_checkin                         4657 non-null   float64
 65  review_scores_communication                   4657 non-null   float64
 66  review_scores_location                        4657 non-null   float64
 67  review_scores_value                           4657 non-null   float64
 68  license                                       0 non-null      float64
 69  instant_bookable                              5627 non-null   object
 70  calculated_host_listings_count                5627 non-null   int64
 71  calculated_host_listings_count_entire_homes   5627 non-null   int64
 72  calculated_host_listings_count_private_rooms  5627 non-null   int64
 73  calculated_host_listings_count_shared_rooms   5627 non-null   int64
 74  reviews_per_month                             4664 non-null   float64
dtypes: float64(18), int64(23), object(34)
memory usage: 3.2+ MB

In [18]:
Denver = pd.read_csv(path + "Denver.csv")
Denver.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5388 entries, 0 to 5387
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            5388 non-null   int64
 1   listing_url                                   5388 non-null   object
 2   scrape_id                                     5388 non-null   int64
 3   last_scraped                                  5388 non-null   object
 4   source                                        5388 non-null   object
 5   name                                          5388 non-null   object
 6   description                                   5369 non-null   object
 7   neighborhood_overview                         3813 non-null   object
 8   picture_url                                   5388 non-null   object
 9   host_id                                       5388 non-null   int64
 10  host_url                                      5388 non-null   object
 11  host_name                                     5388 non-null   object
 12  host_since                                    5388 non-null   object
 13  host_location                                 4595 non-null   object
 14  host_about                                    3260 non-null   object
 15  host_response_time                            4701 non-null   object
 16  host_response_rate                            4701 non-null   object
 17  host_acceptance_rate                          4883 non-null   object
 18  host_is_superhost                             5269 non-null   object
 19  host_thumbnail_url                            5388 non-null   object
 20  host_picture_url                              5388 non-null   object
 21  host_neighbourhood                            5093 non-null   object
 22  host_listings_count                           5388 non-null   int64
 23  host_total_listings_count                     5388 non-null   int64
 24  host_verifications                            5388 non-null   object
 25  host_has_profile_pic                          5388 non-null   object
 26  host_identity_verified                        5388 non-null   object
 27  neighbourhood                                 3813 non-null   object
 28  neighbourhood_cleansed                        5388 non-null   object
 29  neighbourhood_group_cleansed                  0 non-null      float64
 30  latitude                                      5388 non-null   float64
 31  longitude                                     5388 non-null   float64
 32  property_type                                 5388 non-null   object
 33  room_type                                     5388 non-null   object
 34  accommodates                                  5388 non-null   int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                5386 non-null   object
 37  bedrooms                                      4484 non-null   float64
 38  beds                                          5358 non-null   float64
 39  amenities                                     5388 non-null   object
 40  price                                         5388 non-null   object
 41  minimum_nights                                5388 non-null   int64
 42  maximum_nights                                5388 non-null   int64
 43  minimum_minimum_nights                        5388 non-null   int64
 44  maximum_minimum_nights                        5388 non-null   int64
 45  minimum_maximum_nights                        5388 non-null   int64
 46  maximum_maximum_nights                        5388 non-null   int64
 47  minimum_nights_avg_ntm                        5388 non-null   float64
 48  maximum_nights_avg_ntm                        5388 non-null   float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              5388 non-null   object
 51  availability_30                               5388 non-null   int64
 52  availability_60                               5388 non-null   int64
 53  availability_90                               5388 non-null   int64
 54  availability_365                              5388 non-null   int64
 55  calendar_last_scraped                         5388 non-null   object
 56  number_of_reviews                             5388 non-null   int64
 57  number_of_reviews_ltm                         5388 non-null   int64
 58  number_of_reviews_l30d                        5388 non-null   int64
 59  first_review                                  4603 non-null   object
 60  last_review                                   4603 non-null   object
 61  review_scores_rating                          4604 non-null   float64
 62  review_scores_accuracy                        4601 non-null   float64
 63  review_scores_cleanliness                     4601 non-null   float64
 64  review_scores_checkin                         4601 non-null   float64
 65  review_scores_communication                   4601 non-null   float64
 66  review_scores_location                        4601 non-null   float64
 67  review_scores_value                           4601 non-null   float64
 68  license                                       3352 non-null   object
 69  instant_bookable                              5388 non-null   object
 70  calculated_host_listings_count                5388 non-null   int64
 71  calculated_host_listings_count_entire_homes   5388 non-null   int64
 72  calculated_host_listings_count_private_rooms  5388 non-null   int64
 73  calculated_host_listings_count_shared_rooms   5388 non-null   int64
 74  reviews_per_month                             4603 non-null   float64
dtypes: float64(17), int64(23), object(35)
memory usage: 3.1+ MB

In [19]:
LosAngeles = pd.read_csv(path + 'LosAngeles.csv')
LosAngeles.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 44594 entries, 0 to 44593
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            44594 non-null  int64
 1   listing_url                                   44594 non-null  object
 2   scrape_id                                     44594 non-null  int64
 3   last_scraped                                  44594 non-null  object
 4   source                                        44594 non-null  object
 5   name                                          44594 non-null  object
 6   description                                   43937 non-null  object
 7   neighborhood_overview                         25053 non-null  object
 8   picture_url                                   44594 non-null  object
 9   host_id                                       44594 non-null  int64
 10  host_url                                      44594 non-null  object
 11  host_name                                     44592 non-null  object
 12  host_since                                    44592 non-null  object
 13  host_location                                 34044 non-null  object
 14  host_about                                    24684 non-null  object
 15  host_response_time                            35164 non-null  object
 16  host_response_rate                            35164 non-null  object
 17  host_acceptance_rate                          35610 non-null  object
 18  host_is_superhost                             43515 non-null  object
 19  host_thumbnail_url                            44592 non-null  object
 20  host_picture_url                              44592 non-null  object
 21  host_neighbourhood                            34730 non-null  object
 22  host_listings_count                           44592 non-null  float64
 23  host_total_listings_count                     44592 non-null  float64
 24  host_verifications                            44594 non-null  object
 25  host_has_profile_pic                          44592 non-null  object
 26  host_identity_verified                        44592 non-null  object
 27  neighbourhood                                 25054 non-null  object
 28  neighbourhood_cleansed                        44594 non-null  object
 29  neighbourhood_group_cleansed                  44594 non-null  object
 30  latitude                                      44594 non-null  float64
 31  longitude                                     44594 non-null  float64
 32  property_type                                 44594 non-null  object
 33  room_type                                     44594 non-null  object
 34  accommodates                                  44594 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                44569 non-null  object
 37  bedrooms                                      31251 non-null  float64
 38  beds                                          44091 non-null  float64
 39  amenities                                     44594 non-null  object
 40  price                                         44594 non-null  object
 41  minimum_nights                                44594 non-null  int64
 42  maximum_nights                                44594 non-null  int64
 43  minimum_minimum_nights                        44594 non-null  int64
 44  maximum_minimum_nights                        44594 non-null  int64
 45  minimum_maximum_nights                        44594 non-null  int64
 46  maximum_maximum_nights                        44594 non-null  int64
 47  minimum_nights_avg_ntm                        44594 non-null  float64
 48  maximum_nights_avg_ntm                        44594 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              44594 non-null  object
 51  availability_30                               44594 non-null  int64
 52  availability_60                               44594 non-null  int64
 53  availability_90                               44594 non-null  int64
 54  availability_365                              44594 non-null  int64
 55  calendar_last_scraped                         44594 non-null  object
 56  number_of_reviews                             44594 non-null  int64
 57  number_of_reviews_ltm                         44594 non-null  int64
 58  number_of_reviews_l30d                        44594 non-null  int64
 59  first_review                                  32962 non-null  object
 60  last_review                                   32962 non-null  object
 61  review_scores_rating                          32962 non-null  float64
 62  review_scores_accuracy                        32731 non-null  float64
 63  review_scores_cleanliness                     32732 non-null  float64
 64  review_scores_checkin                         32724 non-null  float64
 65  review_scores_communication                   32731 non-null  float64
 66  review_scores_location                        32723 non-null  float64
 67  review_scores_value                           32720 non-null  float64
 68  license                                       11552 non-null  object
 69  instant_bookable                              44594 non-null  object
 70  calculated_host_listings_count                44594 non-null  int64
 71  calculated_host_listings_count_entire_homes   44594 non-null  int64
 72  calculated_host_listings_count_private_rooms  44594 non-null  int64
 73  calculated_host_listings_count_shared_rooms   44594 non-null  int64
 74  reviews_per_month                             32962 non-null  float64
dtypes: float64(18), int64(21), object(36)
memory usage: 25.5+ MB

In [20]:
NewYorkCity = pd.read_csv(path + 'NewYorkCity.csv')
NewYorkCity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 38792 entries, 0 to 38791
Data columns (total 75 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   id                                            38792 non-null  int64
 1   listing_url                                   38792 non-null  object
 2   scrape_id                                     38792 non-null  int64
 3   last_scraped                                  38792 non-null  object
 4   source                                        38792 non-null  object
 5   name                                          38792 non-null  object
 6   description                                   38223 non-null  object
 7   neighborhood_overview                         22556 non-null  object
 8   picture_url                                   38792 non-null  object
 9   host_id                                       38792 non-null  int64
 10  host_url                                      38792 non-null  object
 11  host_name                                     38787 non-null  object
 12  host_since                                    38787 non-null  object
 13  host_location                                 30515 non-null  object
 14  host_about                                    21643 non-null  object
 15  host_response_time                            25618 non-null  object
 16  host_response_rate                            25618 non-null  object
 17  host_acceptance_rate                          26888 non-null  object
 18  host_is_superhost                             38537 non-null  object
 19  host_thumbnail_url                            38787 non-null  object
 20  host_picture_url                              38787 non-null  object
 21  host_neighbourhood                            31040 non-null  object
 22  host_listings_count                           38787 non-null  float64
 23  host_total_listings_count                     38787 non-null  float64
 24  host_verifications                            38792 non-null  object
 25  host_has_profile_pic                          38787 non-null  object
 26  host_identity_verified                        38787 non-null  object
 27  neighbourhood                                 22557 non-null  object
 28  neighbourhood_cleansed                        38792 non-null  object
 29  neighbourhood_group_cleansed                  38792 non-null  object
 30  latitude                                      38792 non-null  float64
 31  longitude                                     38792 non-null  float64
 32  property_type                                 38792 non-null  object
 33  room_type                                     38792 non-null  object
 34  accommodates                                  38792 non-null  int64
 35  bathrooms                                     0 non-null      float64
 36  bathrooms_text                                38750 non-null  object
 37  bedrooms                                      21892 non-null  float64
 38  beds                                          38129 non-null  float64
 39  amenities                                     38792 non-null  object
 40  price                                         38792 non-null  object
 41  minimum_nights                                38792 non-null  int64
 42  maximum_nights                                38792 non-null  int64
 43  minimum_minimum_nights                        38792 non-null  int64
 44  maximum_minimum_nights                        38792 non-null  int64
 45  minimum_maximum_nights                        38792 non-null  int64
 46  maximum_maximum_nights                        38792 non-null  int64
 47  minimum_nights_avg_ntm                        38792 non-null  float64
 48  maximum_nights_avg_ntm                        38792 non-null  float64
 49  calendar_updated                              0 non-null      float64
 50  has_availability                              38792 non-null  object
 51  availability_30                               38792 non-null  int64
 52  availability_60                               38792 non-null  int64
 53  availability_90                               38792 non-null  int64
 54  availability_365                              38792 non-null  int64
 55  calendar_last_scraped                         38792 non-null  object
 56  number_of_reviews                             38792 non-null  int64
 57  number_of_reviews_ltm                         38792 non-null  int64
 58  number_of_reviews_l30d                        38792 non-null  int64
 59  first_review                                  28440 non-null  object
 60  last_review                                   28440 non-null  object
 61  review_scores_rating                          28445 non-null  float64
 62  review_scores_accuracy                        28030 non-null  float64
 63  review_scores_cleanliness                     28040 non-null  float64
 64  review_scores_checkin                         28026 non-null  float64
 65  review_scores_communication                   28034 non-null  float64
 66  review_scores_location                        28023 non-null  float64
 67  review_scores_value                           28024 non-null  float64
 68  license                                       2939 non-null   object
 69  instant_bookable                              38792 non-null  object
 70  calculated_host_listings_count                38792 non-null  int64
 71  calculated_host_listings_count_entire_homes   38792 non-null  int64
 72  calculated_host_listings_count_private_rooms  38792 non-null  int64
 73  calculated_host_listings_count_shared_rooms   38792 non-null  int64
 74  reviews_per_month                             28440 non-null  float64
dtypes: float64(18), int64(21), object(36)
memory usage: 22.2+ MB

# Concatenate the U.S. Dataframes

In [52]:
US = pd.concat([Dallas, Denver, LosAngeles, NewYorkCity], axis = 0)
US.head()

,id,listing_url,scrape_id,last_scraped,source,name,description,neighborhood_overview,picture_url,host_id,...,review_scores_communication,review_scores_location,review_scores_value,license,instant_bookable,calculated_host_listings_count,calculated_host_listings_count_entire_homes,calculated_host_listings_count_private_rooms,calculated_host_listings_count_shared_rooms,reviews_per_month
0,61878,https://www.airbnb.com/rooms/61878,20230912032450,2023-09-12,city scrape,Condo in Dallas · ★4.75 · 1 bedroom · 2 beds ·...,Close to downtown and Uptown. Fast and conven...,Enjoy the heart of Dallas right out your door ...,https://a0.muscache.com/pictures/c4d9625e-bcc5...,300211,...,4.94,4.78,4.80,NaN,f,1,1,0,0,0.34
1,776810,https://www.airbnb.com/rooms/776810,20230912032450,2023-09-12,city scrape,Loft in Dallas · ★4.90 · 1 bedroom · 1 bed · 1...,<b>The space</b><br />Amazing and Colorful 2-...,15 min walk to downtown Dallas and American Ai...,https://a0.muscache.com/pictures/9201ddbc-b015...,4096626,...,4.96,5.00,4.78,NaN,f,1,1,0,0,0.22
2,795703,https://www.airbnb.com/rooms/795703,20230912032450,2023-09-12,city scrape,Condo in Dallas · ★4.84 · 1 bedroom · 1 bed · ...,***** Over 30% Discounts for stays over 30 day...,Located in Turtle Creek neighborhood steps fro...,https://a0.muscache.com/pictures/miso/Hosting-...,4191322,...,4.97,4.91,4.75,NaN,f,1,1,0,0,0.54
3,826118,https://www.airbnb.com/rooms/826118,20230912032450,2023-09-12,city scrape,Home in Dallas · ★4.83 · 1 bedroom · 1 bed · 1...,<b>The space</b><br />Second-floor bedroom wit...,NaN,https://a0.muscache.com/pictures/96902813/2eab...,804559,...,4.83,4.78,4.78,NaN,f,3,0,3,0,0.24
4,826178,https://www.airbnb.com/rooms/826178,20230912032450,2023-09-12,city scrape,Home in Dallas · ★5.0 · 1 bedroom · 2 beds · 1...,Orange Room contains a bathroom suite with toi...,Near UTD in Far North Dallas .,https://a0.muscache.com/pictures/96729051/924e...,804559,...,5.00,5.00,5.00,NaN,f,3,0,3,0,0.19

# Drop features that will not be used in the project

In [53]:
US_trim = US.drop(US.iloc[:, 0:30], axis = 1)
US_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94401 entries, 0 to 38791
Data columns (total 45 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   latitude                                      94401 non-null  float64
 1   longitude                                     94401 non-null  float64
 2   property_type                                 94401 non-null  object
 3   room_type                                     94401 non-null  object
 4   accommodates                                  94401 non-null  int64
 5   bathrooms                                     0 non-null      float64
 6   bathrooms_text                                94331 non-null  object
 7   bedrooms                                      62410 non-null  float64
 8   beds                                          93157 non-null  float64
 9   amenities                                     94401 non-null  object
 10  price                                         94401 non-null  object
 11  minimum_nights                                94401 non-null  int64
 12  maximum_nights                                94401 non-null  int64
 13  minimum_minimum_nights                        94401 non-null  int64
 14  maximum_minimum_nights                        94401 non-null  int64
 15  minimum_maximum_nights                        94401 non-null  int64
 16  maximum_maximum_nights                        94401 non-null  int64
 17  minimum_nights_avg_ntm                        94401 non-null  float64
 18  maximum_nights_avg_ntm                        94401 non-null  float64
 19  calendar_updated                              0 non-null      float64
 20  has_availability                              94401 non-null  object
 21  availability_30                               94401 non-null  int64
 22  availability_60                               94401 non-null  int64
 23  availability_90                               94401 non-null  int64
 24  availability_365                              94401 non-null  int64
 25  calendar_last_scraped                         94401 non-null  object
 26  number_of_reviews                             94401 non-null  int64
 27  number_of_reviews_ltm                         94401 non-null  int64
 28  number_of_reviews_l30d                        94401 non-null  int64
 29  first_review                                  70669 non-null  object
 30  last_review                                   70669 non-null  object
 31  review_scores_rating                          70675 non-null  float64
 32  review_scores_accuracy                        70019 non-null  float64
 33  review_scores_cleanliness                     70029 non-null  float64
 34  review_scores_checkin                         70008 non-null  float64
 35  review_scores_communication                   70023 non-null  float64
 36  review_scores_location                        70004 non-null  float64
 37  review_scores_value                           70002 non-null  float64
 38  license                                       17843 non-null  object
 39  instant_bookable                              94401 non-null  object
 40  calculated_host_listings_count                94401 non-null  int64
 41  calculated_host_listings_count_entire_homes   94401 non-null  int64
 42  calculated_host_listings_count_private_rooms  94401 non-null  int64
 43  calculated_host_listings_count_shared_rooms   94401 non-null  int64
 44  reviews_per_month                             70669 non-null  float64
dtypes: float64(16), int64(18), object(11)
memory usage: 33.1+ MB

In [54]:
US_trim.drop(US_trim.iloc[:, [9]], axis = 1, inplace = True)
US_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94401 entries, 0 to 38791
Data columns (total 44 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   latitude                                      94401 non-null  float64
 1   longitude                                     94401 non-null  float64
 2   property_type                                 94401 non-null  object
 3   room_type                                     94401 non-null  object
 4   accommodates                                  94401 non-null  int64
 5   bathrooms                                     0 non-null      float64
 6   bathrooms_text                                94331 non-null  object
 7   bedrooms                                      62410 non-null  float64
 8   beds                                          93157 non-null  float64
 9   price                                         94401 non-null  object
 10  minimum_nights                                94401 non-null  int64
 11  maximum_nights                                94401 non-null  int64
 12  minimum_minimum_nights                        94401 non-null  int64
 13  maximum_minimum_nights                        94401 non-null  int64
 14  minimum_maximum_nights                        94401 non-null  int64
 15  maximum_maximum_nights                        94401 non-null  int64
 16  minimum_nights_avg_ntm                        94401 non-null  float64
 17  maximum_nights_avg_ntm                        94401 non-null  float64
 18  calendar_updated                              0 non-null      float64
 19  has_availability                              94401 non-null  object
 20  availability_30                               94401 non-null  int64
 21  availability_60                               94401 non-null  int64
 22  availability_90                               94401 non-null  int64
 23  availability_365                              94401 non-null  int64
 24  calendar_last_scraped                         94401 non-null  object
 25  number_of_reviews                             94401 non-null  int64
 26  number_of_reviews_ltm                         94401 non-null  int64
 27  number_of_reviews_l30d                        94401 non-null  int64
 28  first_review                                  70669 non-null  object
 29  last_review                                   70669 non-null  object
 30  review_scores_rating                          70675 non-null  float64
 31  review_scores_accuracy                        70019 non-null  float64
 32  review_scores_cleanliness                     70029 non-null  float64
 33  review_scores_checkin                         70008 non-null  float64
 34  review_scores_communication                   70023 non-null  float64
 35  review_scores_location                        70004 non-null  float64
 36  review_scores_value                           70002 non-null  float64
 37  license                                       17843 non-null  object
 38  instant_bookable                              94401 non-null  object
 39  calculated_host_listings_count                94401 non-null  int64
 40  calculated_host_listings_count_entire_homes   94401 non-null  int64
 41  calculated_host_listings_count_private_rooms  94401 non-null  int64
 42  calculated_host_listings_count_shared_rooms   94401 non-null  int64
 43  reviews_per_month                             70669 non-null  float64
dtypes: float64(16), int64(18), object(10)
memory usage: 32.4+ MB

In [55]:
US_trim.drop(US_trim.iloc[:, 10:], axis = 1, inplace = True)
US_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94401 entries, 0 to 38791
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        94401 non-null  float64
 1   longitude       94401 non-null  float64
 2   property_type   94401 non-null  object
 3   room_type       94401 non-null  object
 4   accommodates    94401 non-null  int64
 5   bathrooms       0 non-null      float64
 6   bathrooms_text  94331 non-null  object
 7   bedrooms        62410 non-null  float64
 8   beds            93157 non-null  float64
 9   price           94401 non-null  object
dtypes: float64(5), int64(1), object(4)
memory usage: 7.9+ MB

In [56]:
US_trim.drop(US_trim.iloc[:, [5]], axis = 1, inplace = True)
US_trim.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94401 entries, 0 to 38791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        94401 non-null  float64
 1   longitude       94401 non-null  float64
 2   property_type   94401 non-null  object
 3   room_type       94401 non-null  object
 4   accommodates    94401 non-null  int64
 5   bathrooms_text  94331 non-null  object
 6   bedrooms        62410 non-null  float64
 7   beds            93157 non-null  float64
 8   price           94401 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 7.2+ MB

# Drop null values from the 'bathrooms_text' and 'beds' columns since they are less than 3% of the data.

In [57]:
US_trim_drop_bath = US_trim.dropna(subset = ['bathrooms_text'])
US_trim_drop_bath.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 94331 entries, 0 to 38791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        94331 non-null  float64
 1   longitude       94331 non-null  float64
 2   property_type   94331 non-null  object
 3   room_type       94331 non-null  object
 4   accommodates    94331 non-null  int64
 5   bathrooms_text  94331 non-null  object
 6   bedrooms        62368 non-null  float64
 7   beds            93105 non-null  float64
 8   price           94331 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 7.2+ MB

In [58]:
US_trim_drop_bath_beds = US_trim_drop_bath.dropna(subset = ['beds'])
US_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93105 entries, 0 to 38791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        93105 non-null  float64
 1   longitude       93105 non-null  float64
 2   property_type   93105 non-null  object
 3   room_type       93105 non-null  object
 4   accommodates    93105 non-null  int64
 5   bathrooms_text  93105 non-null  object
 6   bedrooms        61953 non-null  float64
 7   beds            93105 non-null  float64
 8   price           93105 non-null  object
dtypes: float64(4), int64(1), object(4)
memory usage: 7.1+ MB

# Prepare to clean the 'bathrooms_text' column and change the type to 'float'

In [135]:
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('baths','')
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('bath','')
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('private','')
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('shared','')
US_trim_drop_bath_beds['bathrooms_text'].value_counts()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\3926375943.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('baths','')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\3926375943.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('bath','')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\3926375943.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('private','')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\3926375943.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('shared','')

1         45424
1         19211
2         11929
1.5        3064
2.5        2783
          ...
17            1
14            1
11.5          1
24            1
15.5          1
Name: bathrooms_text, Length: 61, dtype: int64

In [136]:
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('Half-','.5')
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('Shared half-','.5')
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('Private half-','.5')
US_trim_drop_bath_beds['bathrooms_text'].value_counts()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\594915278.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('Half-','.5')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\594915278.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('Shared half-','.5')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\594915278.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.replace('Private half-','.5')

1         45424
1         19211
2         11929
1.5        3064
2.5        2783
3          2543
2          1694
1.5        1300
3.5        1146
4           878
4.5         558
0           520
5.5         273
5           254
.5          224
3           223
0           214
2.5         180
6           141
6.5          84
7            72
8            66
4            49
3.5          39
7.5          34
11           28
9            25
8.5          25
8            22
10           21
5            10
11            8
6             7
12            6
10.5          6
9.5           6
11.5          4
4.5           4
13.5          3
5.5           3
13            3
7             2
17            2
15            2
25            1
12.5          1
36            1
21            1
10            1
17            1
16            1
14            1
24            1
11.5          1
8.5           1
27            1
14            1
12            1
15.5          1
Name: bathrooms_text, dtype: int64

In [138]:
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.strip(" ")
US_trim_drop_bath_beds['bathrooms_text'].value_counts()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\4110179251.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].str.strip(" ")

1       64635
2       13623
1.5      4364
2.5      2963
3        2766
3.5      1185
4         927
0         734
4.5       562
5.5       276
5         264
.5        224
6         148
8          88
6.5        84
7          74
11         36
7.5        34
8.5        26
9          25
10         22
12          7
9.5         6
10.5        6
11.5        5
17          3
13.5        3
13          3
14          2
15          2
36          1
25          1
12.5        1
24          1
21          1
16          1
27          1
15.5        1
Name: bathrooms_text, dtype: int64

In [140]:
US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].astype(float)
US_trim_drop_bath_beds['bathrooms_text']*10

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\1467418039.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bathrooms_text'] = US_trim_drop_bath_beds['bathrooms_text'].astype(float)

0        10.0
1        15.0
2        10.0
3        10.0
4        10.0
         ...
38787    10.0
38788    10.0
38789    10.0
38790    10.0
38791    10.0
Name: bathrooms_text, Length: 93105, dtype: float64

In [141]:
US_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93105 entries, 0 to 38791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        93105 non-null  float64
 1   longitude       93105 non-null  float64
 2   property_type   93105 non-null  object
 3   room_type       93105 non-null  object
 4   accommodates    93105 non-null  int64
 5   bathrooms_text  93105 non-null  float64
 6   bedrooms        61953 non-null  float64
 7   beds            93105 non-null  float64
 8   price           93105 non-null  object
dtypes: float64(5), int64(1), object(3)
memory usage: 9.1+ MB

# Prepare to clean the 'price' column and change the type to 'float'

In [143]:
US_trim_drop_bath_beds['price'] = US_trim_drop_bath_beds['price'].str.replace('$','')

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\2869778863.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  US_trim_drop_bath_beds['price'] = US_trim_drop_bath_beds['price'].str.replace('$','')
C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\2869778863.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['price'] = US_trim_drop_bath_beds['price'].str.replace('$','')

In [144]:
US_trim_drop_bath_beds['price'].value_counts()

150.00      2535
100.00      1859
120.00      1716
200.00      1506
80.00       1326
            ...
2,179.00       1
2,084.00       1
1,976.00       1
2,193.00       1
4,745.00       1
Name: price, Length: 1822, dtype: int64

In [145]:
US_trim_drop_bath_beds['price'] = US_trim_drop_bath_beds['price'].str.replace(',','').astype(float)
US_trim_drop_bath_beds.info()

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\2386814136.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['price'] = US_trim_drop_bath_beds['price'].str.replace(',','').astype(float)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93105 entries, 0 to 38791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        93105 non-null  float64
 1   longitude       93105 non-null  float64
 2   property_type   93105 non-null  object
 3   room_type       93105 non-null  object
 4   accommodates    93105 non-null  int64
 5   bathrooms_text  93105 non-null  float64
 6   bedrooms        61953 non-null  float64
 7   beds            93105 non-null  float64
 8   price           93105 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 9.1+ MB

# Impute the null values in the 'bedrooms' column with median bedrooms value since there are too many nulls to simply drop.

In [162]:
US_trim_drop_bath_beds['bedrooms'] = US_trim_drop_bath_beds['bedrooms'].fillna(US_trim_drop_bath_beds['bedrooms'].median())
US_trim_drop_bath_beds.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 93105 entries, 0 to 38791
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   latitude        93105 non-null  float64
 1   longitude       93105 non-null  float64
 2   property_type   93105 non-null  object
 3   room_type       93105 non-null  object
 4   accommodates    93105 non-null  int64
 5   bathrooms_text  93105 non-null  float64
 6   bedrooms        93105 non-null  float64
 7   beds            93105 non-null  float64
 8   price           93105 non-null  float64
dtypes: float64(6), int64(1), object(2)
memory usage: 9.1+ MB

C:\Users\Rosco\AppData\Local\Temp\ipykernel_4372\2183343779.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  US_trim_drop_bath_beds['bedrooms'] = US_trim_drop_bath_beds['bedrooms'].fillna(US_trim_drop_bath_beds['bedrooms'].median())